root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,xaml}]
indent_size = 4

[*.{csproj,props,targets}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.cs]
# Namespaces & usings
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_sort_system_directives_first = true
# var usage
csharp_style_var_when_type_is_apparent = true:suggestion
# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
# Prefer readonly
dotnet_style_readonly_field = true:suggestion
